<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>workspace</title>
      <link rel="stylesheet" href="{{url_for('static',filename='workArea.css')}}">
      <link rel="shortcut icon" href="static/Assets/Images/favicon.png" type="image/x-icon">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      
    </head>
    <body>
    <div class="main-area">
        <div class="video-area">
            <!-- <video height="80%"src="static/Assets/video/dummy-video.mp4" controls></video> -->
            <div class="video-container paused" data-volume-level="high">
                <img class="thumbnail-img">
                <div class="video-controls-container">
                  <div class="timeline-container">
                    <div class="timeline">
                      <div class="thumb-indicator"></div>
                    </div>
                  </div>
                  <div class="controls">
                    <button class="play-pause-btn">
                      <svg class="play-icon" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
                      </svg>
                      <svg class="pause-icon" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M14,19H18V5H14M6,19H10V5H6V19Z" />
                      </svg>
                    </button>
                    <div class="volume-container">
                      <button class="mute-btn">
                        <svg class="volume-high-icon" viewBox="0 0 24 24">
                          <path fill="currentColor"
                          d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z" />
                        </svg>
                        <svg class="volume-low-icon" viewBox="0 0 24 24">
                          <path fill="currentColor"
                          d="M5,9V15H9L14,20V4L9,9M18.5,12C18.5,10.23 17.5,8.71 16,7.97V16C17.5,15.29 18.5,13.76 18.5,12Z" />
                        </svg>
                        <svg class="volume-muted-icon" viewBox="0 0 24 24">
                          <path fill="currentColor"
                          d="M12,4L9.91,6.09L12,8.18M4.27,3L3,4.27L7.73,9H3V15H7L12,20V13.27L16.25,17.53C15.58,18.04 14.83,18.46 14,18.7V20.77C15.38,20.45 16.63,19.82 17.68,18.96L19.73,21L21,19.73L12,10.73M19,12C19,12.94 18.8,13.82 18.46,14.64L19.97,16.15C20.62,14.91 21,13.5 21,12C21,7.72 18,4.14 14,3.23V5.29C16.89,6.15 19,8.83 19,12M16.5,12C16.5,10.23 15.5,8.71 14,7.97V10.18L16.45,12.63C16.5,12.43 16.5,12.21 16.5,12Z" />
                        </svg>
                      </button>
                      <input class="volume-slider" type="range" min="0" max="1" step="any" value="1">
                    </div>
                    <div class="duration-container">
                      <div class="current-time">0:00</div>
                      /
                      <div class="total-time"></div>
                    </div>
                    <button class="speed-btn wide-btn">
                      1x
                    </button>
                    <button class="mini-player-btn">
                      <svg viewBox="0 0 24 24">
                        <path fill="currentColor"
                          d="M21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H3V5h18v14zm-10-7h9v6h-9z" />
                        </svg>
                      </button>
                      <button class="theater-btn">
                        <svg class="tall" viewBox="0 0 24 24">+
                          <path fill="currentColor"
                          d="M19 6H5c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 10H5V8h14v8z" />
                        </svg>
                      <svg class="wide" viewBox="0 0 24 24">
                        <path fill="currentColor"
                        d="M19 7H5c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm0 8H5V9h14v6z" />
                      </svg>
                    </button>
                    <button class="full-screen-btn">
                      <svg class="open" viewBox="0 0 24 24">
                        <path fill="currentColor"
                        d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z" />
                      </svg>
                      <svg class="close" viewBox="0 0 24 24">
                        <path fill="currentColor"
                        d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z" />
                      </svg>
                    </button>
                  </div>
                </div>
                <video src="{{video_path}}">
                </video>
              </div>
            </div>
            <div class="sidebar">
              <div class="profile">
                <img height="40" src="static/Assets/Images/user.png" alt="profile">
                {{name}}
                <form action="{{url_for('logout')}}" method="get">
                  <input type="submit" value="logout">
                </form>
              </div>
              <form action="{{url_for('createVideo')}}" method="post" id="sidebarForm" >
              <div id="set-time" class="setting" onclick="viewSetTime()">Set Time <span>+</span></div>
              <div id="set-time-options" class="hidden">
                
                {% for path in image_path %}
                {% set path_string = path[0] %}
                                        
                <div class="st-op">
                    <img src="{{ url_for('static', filename=path_string) }}" alt="">
                    <input type="number" name="{{ loop.index }}" id="" required>
                </div>
            {% endfor %}
            
                
              </div>
              <div id="music" class="setting" onclick="toggleMusicOptions()">Music <span>+</span></div>
            <div id="music-option" class="hidden">
                <div class="mus-option">
                  <input type="radio" name="backgroundMusic" id="" value="static/Assets/audio/sunrise-bliss.mp3" >
                  <span>sunrise-bliss</span>
                  <img src="static/Assets/Images/music3.png" alt="" onclick="toggleMusic('sunrise-bliss.mp3')">
                </div>
                <div class="mus-option">
                  <input type="radio" name="backgroundMusic" id="" value="static/Assets/audio/simple-piano.mp3" required>
                  <span>simple-piano</span>
                  <img src="static/Assets/Images/music3.png" alt="" onclick="toggleMusic('simple-piano.mp3')">
                </div>
                <div class="mus-option">
                  <input type="radio" name="backgroundMusic" id="" value="static/Assets/audio/rickroll.MP3" required>
                  <span>rickroll</span>
                  <img src="static/Assets/Images/music3.png" alt="" onclick="toggleMusic('rickroll.MP3')">
                </div>
                <div class="mus-option">
                  <input type="radio" name="backgroundMusic" id="" value="static/Assets/audio/On-and-On.mp3" required>
                  <span>On-and-On</span>
                  <img src="static/Assets/Images/music3.png" alt="" onclick="toggleMusic('On-and-On.mp3')">
                </div>
                <div class="mus-option">
                  <input type="radio" name="backgroundMusic" id="" value="static/Assets/audio/Counting Stars - OneRepublic.mp3" required>
                  <span>Counting Stars - OneRepublic</span>
                  <img src="static/Assets/Images/music3.png" alt="" onclick="toggleMusic('Counting Stars - OneRepublic.mp3')">
                </div>
                <div class="mus-option">
                  <input type="radio" name="backgroundMusic" id="" value="None" required>
                  <span>None</span>
                  <img src="static/Assets/Images/music3.png" alt="" >
                </div>
            </div>
            <div id="transitions" class="setting" onclick="viewTransition()">Transitions <span>+</span></div>
            <div id="transition-option" class="hidden">
                  <div class="trans-option">
                      <img src="static/Assets/Images/trans.png" alt="">
                      <span>crossfade</span>
                      <input type="radio" name="transition" id="" value="crossfade" required>
                    </div>
                    <div class="trans-option">
                      <img src="static/Assets/Images/trans.png" alt="">
                      <span>slide</span>
                      <input type="radio" name="transition" id="" value="slide" required>
                    </div>
                    <!-- <div class="trans-option">
                      <img src="static/Assets/Images/trans.png" alt="">
                      <span>crossfadeout</span>
                      <input type="radio" name="transition" id="" value="crossfadeout">
                  </div>
                    <div class="trans-option">
                      <img src="static/Assets/Images/trans.png" alt="">
                      <span>slidein</span>
                      <input type="radio" name="transition" id="" value="slidein">
                  </div>
                    <div class="trans-option">
                      <img src="static/Assets/Images/trans.png" alt="">
                      <span>slideout</span>
                      <input type="radio" name="transition" id="" value="slideout">
                  </div>
                    <div class="trans-option">
                      <img src="static/Assets/Images/trans.png" alt="">
                      <span>dull</span>
                      <input type="radio" name="transition" id="" value="dull">
                  </div> -->
                    <div class="trans-option">
                      <img src="static/Assets/Images/trans.png" alt="">
                      <span>none</span>
                      <input type="radio" name="transition" id="" value="none">
                  </div>
                  
            </div>
            <div id="resolution" class="setting" onclick="viewResolution()">Resolution <span>+</span></div>
            <div id="resolution-option" class="hidden">
                <div class="reso-option ">480p SD</div>
                <div class="reso-option ">720p HD</div>
                <div class="reso-option">1080p FHD</div>
            </div>
            <div id="quality" class="setting" onclick="viewQuality()">Quality <span>+</span></div>
            <div id="quality-option" class="hidden" >
                <div class="qual-option">LOW</div>
                <div class="qual-option" >MEDIUM</div>
                <div  class="qual-option">HIGH</div>
            </div>
              <input type="submit" value="Create Video" id="createVideo">
          </form>
            <form action="{{url_for('downloadVideo')}}" method="get" id="sidebarForm2">
              <input type="submit" value="Download" id="Download">
          </form>
            

        </div>
    </div>
    <div class="image-section">
        <div class="image-container">
            <div id="images">
                {% for path in image_path %}
                    {% set path_string = path[0] %}
                    {% set image_id=(path[1]) %}
                    <img src="static/{{ path_string }}" alt="Image" data-imageId="{{image_id}}">
                {% endfor %}
            </div>
            <script>
                $(document).ready(function() {
                    $('img').dblclick(function() {
                        if(confirm("Are you sure you want to delete this image")){

                            var imageId = $(this).data('imageid'); // Get the value of data-imageId attribute
                            $.ajax({
                                type: "POST",
                                url: "/deleteimage",
                                data: JSON.stringify({ imageId: imageId }), // Send the imageId to the server
                                contentType: 'application/json',
                                success: function(response) {
                                    // Handle success response from the server
                                    console.log("Image ID sent successfully!");
                                    console.log(imageId);
                                },
                                error: function(xhr, status, error) {
                                // Handle error response from the server
                                console.error("Error sending image ID:", error);
                            }
                        });
                    }
                    });
                });
            </script>
            
            
            
            <div  id="drop-area" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">+
                <form action="{{url_for('upload_file')}}" method="post" enctype="multipart/form-data">

                    <input type="file" name="file" id="file-input" multiple style="display: none;" onchange="handleFiles(this.files)"  >
                     <!-- <input type="submit" value="Upload" id="upload"> -->
                </form>
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='workArea.js')}}"></script>
</body>
</html>
